/.cache/svg-lib
/auto-save-list
/auto-saves
/backups
/eln-cache
/elpa
/history
/mason
/projects
/recentf
/tramp
/transient
/tree-sitter
/undo-fu-session
/url/cache/yuukibarns/https/org/gnu
/zotero-completion-cache.eld
